<!DOCTYPE html>
<html>

<head>
  <title>GoogleMapAPI</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    #map { height: 100%; }
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <h1>GoogleMapAPIマーカー付き</h1>
  <%= @places.latitude %>
  <br><br>


  <!-- アクションから渡されたインスタンス変数を変換 javascriptに渡す-->
  <%= javascript_tag do %>
    window.place = <%= raw @places.to_json %>;
  <% end %>


  <div id="map" style="height: 500px; width: 80%; margin: 2rem auto 0;"></div>

  <!-- jqueryの読み込む -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->


  <!-- google map api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0y-XaRkwtdhbjAy34iuzkwefWHV7IIjk"></script>


  <!-- js -->
  <script type="text/javascript">
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: place.latitude, //緯度を設定
        lng: 139.634443 //経度を設定
      },
      zoom: 14 //地図のズームを設定
    });


    // marker
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(place.latitude, 139.634443),
      draggable: false,
      map: map,
      animation: google.maps.Animation.DROP
    });

  </script>

</body>
</html>